body {
  background-image: url("/Img/copertina\ 1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.custom-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #096f72 !important;
}

.custom-card .card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  flex: 1 1 auto;
  background-color: #08232c !important;
  color: #e3e1c9;
  border: none !important;
}

.custom-card .card-title {
  margin-bottom: 0.5rem;
}

.bg-blur {
  background-color: rgba(1, 0, 11, 0.3);
  backdrop-filter: blur(10px);
}

.text-color {
  color: #e3e1c9 !important;
}
.color-button {
  color: #00555a !important;
}

button {
  color: #e9dbb0 !important;
  background-color: #00555a !important;
  border: 2px solid #096f72 !important;
}
.bg-button {
  background-color: #00565acc !important;
}

.custom-btn {
  color: #e9dbb0 !important;
  background-color: #00555a !important;
  border: 2px solid #096f72 !important;
}

.animation {
  animation: slide-left 1s ease 0s 1 normal forwards;
}

@keyframes slide-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}

.bg-img {
  background-image: url(../public/Img/copertina\ 1.jpg);
  background-repeat: no-repeat;
}

.bg-img-2 {
  background-image: url(https://i.pinimg.com/736x/09/12/ca/0912cafdf9ab995bce40c2081ca96c3a.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.p-6 {
  padding: 120px;
}

.animation-2 {
  animation: myAnim 2s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.p-stanza {
  width: 220px;
}
.p-stanza-1 {
  width: 300px;
}
